<p id="notice"><%= notice %></p>

<p>
  <strong>Linea de reciclaje:</strong>
  <%= @category.recycling_line %>
</p>

<p>
  <strong>Impacto ambiental:</strong>
  <%= @category.environmental_impact %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
