<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_complet %><br>
    <%= f.text_field :name_complet %>
  </div>
  <div class="field">
    <%= f.label :customer_type %><br>
    <%= f.text_field :customer_type %>
  </div>
  <div class="field">
    <%= f.label :identification_number %><br>
    <%= f.text_field :identification_number %>
  </div>
  <div class="field">
    <%= f.label :ubication %><br>
    <%= f.text_field :ubication %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
