<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre completo:</strong>
  <%= @client.name_complet %>
</p>

<p>
  <strong>Tipo de cliente:</strong>
  <%= @client.customer_type %>
</p>

<p>
  <strong>Numero de identificacion:</strong>
  <%= @client.identification_number %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @client.ubication %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
