<p id="notice"><%= notice %></p>

<p>
  <strong>Name complet:</strong>
  <%= @client.name_complet %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @client.customer_type %>
</p>

<p>
  <strong>Identification number:</strong>
  <%= @client.identification_number %>
</p>

<p>
  <strong>Ubication:</strong>
  <%= @client.ubication %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
